package main

import (
	"context"
	"fmt"
	"log"
	"{{ .ModuleName }}/internal/handler"
	{{ if .UseObservability }}
	"{{ .ModuleName }}/internal/telemetry"
	{{ end }}
	{{ if .UseGRPC }}
	grpc_server "{{ .ModuleName }}/internal/adapters/grpc"
	{{ end }}
)

func main() {
	fmt.Println("Starting Standard project: {{ .ProjectName }}")

	{{ if .UseObservability }}
	// Initialize Telemetry
	shutdown, err := telemetry.InitTracer("{{ .ProjectName }}", "{{ .ObservabilityBackend }}")
	if err != nil {
		log.Fatalf("failed to initialize telemetry: %v", err)
	}
	defer shutdown(context.Background())
	{{ end }}
	{{ if .UseGRPC }}
	// Initialize gRPC Server in a goroutine
	go func() {
		gs := grpc_server.NewServer()
		if err := gs.Start(50051); err != nil {
			log.Fatalf("failed to start gRPC server: %v", err)
		}
	}()
	{{ end }}
	
	// Handler logic here
	// Keep the main process alive
	{{ if .UseGRPC }}
	select {}
	{{ end }}
}
