package main

import (
	"fmt"
	"{{ .ModuleName }}/internal/adapters"
	"{{ .ModuleName }}/internal/domain"
)

func main() {
	fmt.Println("🚀 Hexagonal Architecture project '{{ .ProjectName }}' initialized!")
	// Wire up ports and adapters
}
